/***********Global config **********/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
a{
    text-decoration: none;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
body{
    width: 60%;
    margin: auto;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
h1{
    font-size: 60px;
    font-weight: 600;
    color: #17191A;
}
h2{
    font-size: 50px;
    font-weight: 500;
    color: #17191A;
}
h3{
    font-size: 30px;
    font-weight: 500;
    color: #17191A;
}
h5{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    color: #17191A;
}
p{
    font-size: 24px;
    font-weight: 500;
    color: #8F9EA5;
}
.p-description{
    font-size: 20px;
    font-weight: 500;
    color: #8F9EA5;
    margin-top: 10px;
}

/**********Nav section ***********/
.nav-me{
    display: flex;
    align-items: center;
    height: 100px;
}
.contact-me, .nav-icon{
    flex: 1;
}
.nav-icon{
    text-align: right;
}
.nav-icon a, .contact-me a, .contact-me img{
    display: inline-block;
    vertical-align: middle;
}
.nav-icon a{
    margin-left: 40px;
}
.contact-me a{
    color: #027BFF;
    text-decoration: none;
}
.blue{
    color: #027BFF
}
/************landing section*****************/
.landing{
    height: 75vh;
    position: relative;
}
.landing-wrapper{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}
ul{
    list-style: none;
}
.landing-l{
    margin-top: 4em;
}
.scroll{
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

/***********Skills***********/
.skills{
    text-align: center;
    margin-bottom: 20em;
}
.tools img{
    width: 40px;
    margin: 0 15px;
}
.skills p{
    margin-bottom: 30px;
}
.work{
    width: 100%;
    position: relative;
    margin-bottom: 20rem;
}
.work > .work-text {
    position: absolute;
    top: 85;
    margin-top: 40px;
}
.work > .work-text > .underline{
    display: block;
    width: 61px;
    height: 3px;
    margin-top: 5px;
    background-color: #027BFF;
}
.work > .work-img{
    width: 85%;
    float: right;
    border-radius: 2%;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.09);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.09);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.09);
}
.work ul{
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work ul li{
    margin-top: 20px;
}
/***************left********************/
.work2{
    width: 100%;
    position: relative;
    margin-bottom: 20rem;
}
.work2 > .work-text {
    position: absolute;
    top: 85;
    margin-top: 40px;
    right: 0;
    text-align: right;
}
.work2 > .work-text > .underline{
    display: block;
    width: 61px;
    height: 3px;
    margin-top: 5px;
    background-color: #027BFF;
    float: right;
    
}
.work2 > .work-img{
    width: 85%;
    float: left;
    border-radius: 2%;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.09);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.09);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.09);
}
.work2 ul{
    position: absolute;
    bottom: 0;
    left: 86%;
    float: right;
}
.work2 ul li{
    margin-top: 20px;
}
.footer{
    background-image: url("../img/Behance-big.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 280px;
    padding-bottom: 8em;
    text-align: center;
}