* {
  margin: 0;
  padding: 0; }

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0; }

.mb-6 {
  margin-bottom: 8.625rem; }

.mb-7 {
  margin-bottom: 13.625rem; }

body {
  font-size: 1rem;
  background-color: #25262c;
  color: white;
  font-weight: 100; }

.about-text {
  font-style: italic; }

h1,
h1,
h3,
h4,
h5 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.2px;
  font-weight: 100; }

a {
  color: #e6365f;
  padding: 0.25rem;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-border-radius: 2rem;
  border-radius: 2rem; }
  a:hover {
    color: white;
    background-color: #efb30e; }

.btn-lg,
.btn {
  padding: 0.8625rem 2.625rem !important;
  font-size: 1rem;
  -webkit-border-radius: 33px;
  border-radius: 33px; }

h1 {
  font-size: 64px;
  line-height: 84px;
  font-weight: 100; }

.homescreen-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 98vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

@media (max-width: 767px) {
  body {
    font-size: 16px; }
  .even {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .homescreen {
    height: initial;
    margin-top: auto; }
    .homescreen p {
      font-family: "Roboto";
      font-weight: 100; }
  .mb-1,
  .mb-2 {
    margin-bottom: 0.625rem; }
  .mb-3,
  .mb-4 {
    margin-bottom: 1.125rem !important; }
  .mb-5 {
    margin-bottom: 1.625rem !important; }
  .mb-6,
  .mb-7 {
    margin-bottom: 3.625rem !important; }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    line-height: 1.8rem; } }
