@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Open+Sans:600');
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-base:16px;
$black:#17191A;
$grey:#8F9EA5;
$blue:#027BFF;
$yellow:#FD5F0B;
$red:#EE0C74;
$white:#f2f4f7;

*{
    padding: 0;
    margin: 0;
    background: transparent;
}
html, body{
    font-size: $font-base;
    font-family: "Open sans" ;
    color: $black;
    font-weight: 600;
    
}
a{
    text-decoration: none;
    color: $black;
}
.main{
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;

}
h2,h3{
    font-size: 1.5rem;
}
.container{
    width: 90%;
    margin:0 auto;
}

ul{
    li{
        list-style: none;
    }
}
.nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 70px;
    margin-bottom: 6.25rem;
    .nav-items{
        display: flex;
    }
    .nav-link>a{
        padding: .25rem .5rem;
        font-weight: 600;
        border-bottom: $black solid 2px;
        border-bottom-width: 0%;
        border-bottom-color: transparent;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover, &:active{
            background: linear-gradient(109deg, $yellow, $red);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.intro{
    text-align: center;
}
.description{
    color: $grey;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.motto{
    font-size: 2.25rem;
    line-height: 130%;
    font-family:'Merriweather', serif;
    font-weight: 900;
    margin-bottom: 1.25rem;
    background: linear-gradient(109deg, $yellow, $red);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.contact-me{
    a{
        text-decoration: none;
        color: $black;
    }
    a, img{
        vertical-align: middle;
        display: inline-block;
        margin-right: 0.5rem;
    }
}
.mail{
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    span{
        padding-right: .5rem;
    }
}
.social{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    span{
        padding: .25rem .25rem .25rem 0rem;
        margin: 0.125rem .5rem;
    }
}
#particles-js{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
@media only screen and (min-width:600px){
    .main{
        background-image: url('../img/h-background.png');
        background-position: right;
        background-size: auto 75%;        
        
    }
    .nav{
        height: 100px;
    }
    .container{
        width: 80%;
    }
    .nav-link{
        font-size: 1.125rem;
        margin-left: 3rem;        
    }
    .nav-items-right{
        margin-left: auto;
    }
    .intro{
        text-align: left;
    }
    .name{
        font-size: 2.25rem
    }
    .motto{
        font-size: 6rem;
        width: 700px;
    }
    .social{
        flex-direction: column;
    }

}